@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: #000000;
    padding: 30px;
    
  
}
h2{
    color: #9ec5f4;
    font-family: 'montserrat', sans-serif;
    padding: 10px 10px 40px 5px;
    font-size: 20px;
    font-weight:200;
    letter-spacing: 3px;
}

.number-one{
    border-radius: 10px;
    margin: 10px;
    height: 250px;
    width: 400px;
    position: relative;
    

}


.number-one form{
   

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 100%;
    width: 100%;
    

background: rgba(113, 145, 255, 0.19);
border-radius: 20px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.7px);
-webkit-backdrop-filter: blur(3.7px);
border: 3px solid rgba(113, 145, 255, 0.91);

box-shadow: rgba(255, 255, 255, 0.48) 0px 0px 20px 0px, rgba(255, 255, 255, 0.8) -0px -0px 5px 0px;


}

.number-one form input[type=radio]{
    /* visibility: hidden; */
    display: none;
}
.number-one form label{
    position: relative;
    display: inline-block;
    border: 1px solid #56c4ff3b;
    padding: 18px 25px 18px 70px;
    border-radius: 8px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #56c4ff;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
}

.number-one form label::before{
    content: '';
    display: block;
    position: absolute;
    height: 30px;
    width: 30px;
    border: 4px solid #56c4ff;
    border-radius: 50px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 30px;
    box-sizing: border-box;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
    
    
}
.number-one form input[type=radio]:checked + label{
    color: #fff;
    background-color: rgba(113, 151, 255, 0.714);
}
.number-one form input[type=radio]:checked + label::before{
    border: 9px solid #fff;
   
}


.number-two{
    border: 1PX SOLID #fff;
    margin-top: 150px;
    width: 100%;
    min-height: 300px;

}
.number-two .container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}
.number-two .container .box{
    border: 0.5PX SOLID  #9ec5f4;
    
    width: 280px;
    height: 160px;
    border-radius: 10px;
    padding: 0px;
    position: relative;
    

}
.box h3{
    color: #9ec5f4;
    font-family: roboto;
    font-weight: 300;
    margin: 15px 20px 0 20px;


}
.box h4{
    color: #9ec5f487;
    font-family: 'montserrat', sans-serif;
    font-weight: 300;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 19px;




}
.box h6{
    color: #9ec5f4d2;
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 25px;
    position: absolute;
    bottom:20px;
    



}
.box input[type=radio]{
    display: none;
    position: absolute;
    right: 0;
}
.box label::before{
    content: '';
    position: absolute;
    right: 20px;
    top: 18px;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    border: 1PX SOLID  #9ec5f4;
    border-radius: 50%;

}


.box label{
    position: absolute;
    display: block;
   height: 100%;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;

}


.box input[type=radio]:checked + label::before{
    border: 6.5PX SOLID  #ffffff;
    
}
.box input[type=radio]:checked ~ h3{
    color: #fff;
    
}
.box input[type=radio]:checked ~ h4{
    color: #fff;
    
}
.box input[type=radio]:checked ~ h6{
    color: #fff;
    
}
.box.checked {
    



    background: rgba(113, 145, 255, 0.19);
    
    
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 2px solid rgba(0, 51, 218, 0.91);
    
    box-shadow: rgba(255, 255, 255, 0.272) 0px 0px 10px 0px, rgba(255, 255, 255, 0.318) -0px -0px 10px 0px;







    
}